# Carpeta de dependencias
/vendor/

# Archivos generados por el sistema
composer.lock
composer.phar

# Carpeta de configuración
/config/

# Archivos de caché
/var/cache/
/var/log/

# Archivos de entorno
.env

# Archivos de respaldo
*.bak
*.swp
